<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>leftMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE51F9C11D3F76B80010E52A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE51F9DA1D3F76B80010E52A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE51F9E51D3F76B80010E52A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
